In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [2]:
# read in csv
reviews = "../vine_table.csv"

In [3]:
# create a dataframe
df = pd.read_csv(reviews)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [4]:
# create a new DF where total_votes are =>20
total_votes_df = df[df['total_votes'] >= 20] 
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N

In [5]:
total_votes_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [6]:
# Filter the new DataFrame  and create a new DataFrame 
# to retrieve all the rows where the number of helpful_votes 
# divided by total_votes is equal to or greater than 50%.
fifty_percent_or_higher_df = total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5
fifty_percent_or_higher_df

2          False
8           True
16         False
17         False
22          True
           ...
3105484     True
3105490     True
3105504     True
3105505     True
3105512     True
Length: 501609, dtype: bool

In [7]:
fifty_percent_df = total_votes_df.loc[total_votes_df["helpful_votes"]/total_votes_df["total_votes"] >= 0.5]
fifty_percent_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [8]:
# Filter the DataFrame created in Step 2, and create a new DataFrame 
# that retrieves all the rows where a review was written as part of 
# the Vine program (paid), vine == 'Y'.
paid_total_votes_df = fifty_percent_df[fifty_percent_df['vine'] == "Y"] 
paid_total_votes_df

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [9]:
fifty_percent_df["vine"].value_counts()

N    403807
Name: vine, dtype: int64

In [10]:
paid_total_votes_df.count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [11]:
# Repeat Step 3, but this time retrieve all the rows where the review 
# was not part of the Vine program (unpaid), vine == 'N'.
unpaid_total_votes_df = fifty_percent_df[fifty_percent_df['vine'] == "N"] 
unpaid_total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N

In [12]:
unpaid_count = unpaid_total_votes_df["star_rating"].count()
unpaid_count

403807

In [13]:
unpaid_total_votes_df.count()

review_id            403807
star_rating          403807
helpful_votes        403807
total_votes          403807
vine                 403807
verified_purchase    403807
dtype: int64

In [14]:
total_5_star_reviews = fifty_percent_df.loc[fifty_percent_df['star_rating'] == 5.0] 
total_5_star_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
64,R12EHXBC0GP2C2,5.0,23.0,24.0,N,N
65,R2JSWNTAO83X3V,5.0,145.0,184.0,N,N
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [15]:
# the number of 5-star reviews, 
five_star_count = total_5_star_reviews["star_rating"].count()
five_star_count

242889

In [16]:
# and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
percentage_paid_reviews = round((five_star_count/unpaid_count) * 100,2)
percentage_paid_reviews

60.15